extends ../layouts/main-layout.pug

block content
    if products.length > 0
        ul
            each p in products
                li
                    p #{p.productdata.title}
                    p #{p.qty}
                    form(action="/delete-cart-item", method="post") 
                        input(type="hidden",name="productid",value=`${p.productdata.id}`)
                        input(type="submit", class="btn") 
    else    
        h1 No products in the cart
